* {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    margin: 0;
    padding: 0;
}


nav {
    /* background-color: aqua; */
    padding: 10px;
    display: flex;
    align-items: flex-start;
    height: 50px;
    width: 100vw;
    align-items: stretch;
}

nav > *:first-child {
    margin-right: auto;
}

nav > .left-aligned-items {
    display: flex;
    justify-self: flex-end;
    margin-right: 10px;
}

nav > .left-aligned-items > * {
    margin-right: 10px;
}

nav button {
    border: none;
    font-size: 20px;
    background-color: white;
}


main {
    padding-left: 10px;
    padding-right: 10px;
}

main > h1 {
    text-align: center;
}

.intro-container {
    /* background-color: lightblue; */
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 40px;
    font-weight: lighter;
    justify-content: space-between;
    gap: 20px;
}

.video-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100;
    padding: 10px;
}

figcaption {
    text-align: center;
}

button:hover {
    cursor: pointer;
}